In [12]:
import pandas as pd
import matplotlib.pyplot as pl

In [20]:
IBGEFILE_UNITS = pd.read_csv("data\IBGEFILE.UNITS.csv")

In [21]:
BGEIDSC_EF2EFFP = pd.read_csv("data\BGEIDSC.EF2EFFP.csv")

In [22]:
BGETCHDATA_PTCHTRANH = pd.read_csv("data\BGETCHDATA.PTCHTRANH.csv")

In [23]:
Extranet2_ExactFuelEvents = pd.read_csv("data\Extranet2.ExactFuelEvents.csv")

In [42]:
#Extranet2_ExactFuelEvents.shape

(8495130, 15)

In [24]:
Extranet2_ExactFuelTankLevels = pd.read_csv("data\Extranet2.ExactFuelTankLevels.csv")

In [43]:
#Extranet2_ExactFuelTankLevels.shape

(7908828, 5)

In [61]:
#IBGEFILE_UNITS.head(10)
IBGEFILE_UNITS.shape

(709, 3)

In [62]:
#BGEIDSC_EF2EFFP.head(10)
BGEIDSC_EF2EFFP.shape

(836, 7)

In [60]:
#BGETCHDATA_PTCHTRANH.head(10)

,TRNID,TRNDAT,TRNTIM,TRNTS#,TRNTSN,TRNSTC,TRNST,TRNDRI,TRNUNT,TRNPI1,...,TRNPI2,TRNPQ2,TRNPI3,TRNPQ3,TRNPI4,TRNPQ4,TRNPI5,TRNPQ5,TRNPI6,TRNPQ6
0,42574765,20170101,20,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0
1,42575331,20170101,48,516202,PILOT NEW BRAUNFELS 330,NEW BRAUNFELS,TX,MANRI,1584,ULSD,...,DEFD,7.71,CADV,1.0,,0.0,,0.0,,0
2,42578678,20170101,134,516277,PILOT 421,DALTON,GA,RUSR,1713,ULSD,...,DEFD,4.12,,0.0,,0.0,,0.0,,0
3,42578722,20170101,137,231100,FJ-BRUNSWICK 627,BRUNSWICK,GA,FOSJA,1711,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0
4,42579695,20170101,302,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HICWIL,1837,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0
5,42579752,20170101,307,519125,PILOT #575,ST MARYS,GA,BATK,1992,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0
6,42579836,20170101,315,519125,PILOT #575,ST MARYS,GA,BATK,1992,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0
7,42580765,20170101,430,516304,PILOT GAFFNEY 453,GAFFNEY,SC,MARJOH,1730,ULSD,...,DEFD,5.50,,0.0,,0.0,,0.0,,0
8,42580767,20170101,430,516156,PILOT CHARLOTTE 275,CHARLOTTE,NC,JAML,1672,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0
9,42580868,20170101,437,516156,PILOT CHARLOTTE 275,CHARLOTTE,NC,JAML,1672,CADV,...,,0.00,,0.0,,0.0,,0.0,,0

In [55]:
Extranet2_ExactFuelEvents.head(100);

In [56]:
Extranet2_ExactFuelTankLevels.head(100);

In [50]:
Fuel_Transactions = pd.merge(Extranet2_ExactFuelEvents, Extranet2_ExactFuelTankLevels, how='inner', left_on='Id', right_on = 'ExactFuelEventId')

In [54]:
Fuel_Transactions.head(100)
#Fuel_Transactions.shape
#Note: It's reccomended that TankLevelPercent not dip below 50%

,Id_x,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason,Id_y,TankId,TankLevelPercent,TankLevelGallons,ExactFuelEventId
0,12649083,13640241,2017-01-01 00:00:32.387,1992,105369677,tractor,BATK,30.34642,-81.70724,2017-01-01 00:00:30.000,0,0.0,39895.5,2,1,10375449,1,50.7,101.40,12649083
1,12649084,13640242,2017-01-01 00:01:24.867,1712,105437938,tractor,TAYANT,36.93953,-84.09541,2017-01-01 00:01:27.000,0,0.0,360378.8,1,2,10375450,1,78.0,156.00,12649084
2,12649092,13640251,2017-01-01 00:04:15.053,1713,105438293,tractor,RUSR,35.58664,-84.52786,2017-01-01 00:04:17.000,67,219.5,377577.4,1,2,10375458,1,31.7,63.40,12649092
3,12649102,13640261,2017-01-01 00:04:10.260,1585,105301976,tractor,MCAD,35.15430,-90.14263,2017-01-01 00:04:10.000,0,0.0,513931.8,1,2,10375468,1,43.2,108.00,12649102
4,12649103,13640272,2017-01-01 00:10:13.187,1564,105351785,tractor,ULAL,39.90268,-84.19254,2017-01-01 00:10:11.000,3,91.0,498691.0,1,2,10375469,1,50.3,125.75,12649103
5,12649104,13640273,2017-01-01 00:11:08.123,1711,105321298,tractor,FOSJA,30.51558,-81.63283,2017-01-01 00:11:10.000,3,127.6,342948.0,1,2,10375470,1,81.7,163.40,12649104
6,12649105,13640274,2017-01-01 00:11:48.803,1693,105356123,tractor,THOCHA,36.18582,-86.26805,2017-01-01 00:11:50.000,0,333.2,340043.7,1,2,10375471,1,37.4,74.80,12649105
7,12649106,13640275,2017-01-01 00:12:26.077,1787,105455670,tractor,RODMAR,35.16910,-80.88830,2017-01-01 00:12:27.000,53,193.1,224306.6,1,2,10375472,1,62.5,125.00,12649106
8,12649107,13640276,2017-01-01 00:13:02.450,1992,105369677,tractor,BATK,30.34646,-81.70727,2017-01-01 00:13:00.000,0,0.0,39895.5,1,0,10375473,1,52.0,104.00,12649107
9,12649108,13640277,2017-01-01 00:13:38.137,1711,105321298,tractor,FOSJA,30.51642,-81.63271,2017-01-01 00:13:40.000,0,96.3,342948.1,2,1,10375474,1,79.8,159.60,12649108
10,12649109,13640278,2017-01-01 00:14:33.237,1584,105430597,tractor,MANRI,29.53947,-98.37978,2017-01-01 00:14:34.000,56,56.9,500730.0,1,2,10375475,1,30.9,77.25,12649109
11,12649110,13640280,2017-01-01 00:15:52.450,1992,105369677,tractor,BATK,30.34605,-81.70736,2017-01-01 00:15:50.000,0,0.0,39895.6,2,1,10375476,1,50.8,101.60,12649110
12,12649111,13640281,2017-01-01 00:16:24.883,1712,105437938,tractor,TAYANT,36.93955,-84.09541,2017-01-01 00:16:27.000,0,0.0,360378.8,1,2,10375477,1,78.0,156.00,12649111
13,12649112,13640282,2017-01-01 00:18:45.750,1672,105310232,tractor,JAML,35.27207,-81.15495,2017-01-01 00:18:48.000,0,270.8,354397.2,1,1,10375478,1,43.2,101.52,12649112
14,12649113,13640284,2017-01-01 00:20:45.750,1672,105310232,tractor,JAML,35.27206,-81.15504,2017-01-01 00:20:48.000,0,124.9,354397.2,1,0,10375479,1,43.4,101.99,12649113
15,12649114,13640290,2017-01-01 00:26:27.483,1922,105349612,tractor,METMI,31.41015,-82.95248,2017-01-01 00:26:27.000,0,0.0,83058.5,2,1,10375480,1,64.0,128.00,12649114
16,12649115,13640291,2017-01-01 00:26:27.530,1922,105349612,tractor,METMI,31.41015,-82.95248,2017-01-01 00:26:27.000,0,0.0,83058.5,2,0,10375481,1,64.0,128.00,12649115
17,12649116,13640292,2017-01-01 00:26:22.497,1992,105369677,tractor,BATK,30.34603,-81.70738,2017-01-01 00:26:20.000,0,0.0,39895.6,1,0,10375482,1,53.2,106.40,12649116
18,12649117,13640293,2017-01-01 00:26:48.930,1693,105356123,tractor,THOCHA,36.18582,-86.26807,2017-01-01 00:26:50.000,0,333.2,340043.7,1,2,10375483,1,36.8,73.60,12649117
19,12649118,13640294,2017-01-01 00:27:28.123,1711,105321298,tractor,FOSJA,30.51636,-81.63332,2017-01-01 00:27:30.000,3,268.7,342948.1,1,0,10375484,1,82.8,165.60,12649118
20,12649119,13640295,2017-01-01 00:30:13.330,1584,105430597,tractor,MANRI,29.67382,-98.15442,2017-01-01 00:30:14.000,10,50.5,500746.3,1,2,10375485,1,28.4,71.00,12649119
21,12649120,13640297,2017-01-01 00:31:24.977,1712,105437938,tractor,TAYANT,36.93955,-84.09540,2017-01-01 00:31:27.000,0,0.0,360378.8,1,2,10375486,1,78.0,156.00,12649120
22,12649121,13640299,2017-01-01 00:32:16.487,1707,105435722,tractor,SAND,27.26403,-82.48764,2017-01-01 00:32:17.000,0,14.3,365068.3,2,1,10375487,1,65.3,130.60,12649121
23,12649122,13640300,2017-01-01 00:32:56.487,1707,105435722,tractor,SAND,27.26403,-82.48764,2017-01-01 00:32:57.000,0,14.3,365068.3,2,0,10375488,1,65.3,130.60,12649122
24,12649123,13640301,2017-01-01 00:31:45.750,1612,105406673,tractor,AUSTE,39.63185,-77.78432,2017-01-01 00:31:45.000,0,0.0,489217.3,1,0,10375489,1,42.2,97.06,12649123
25,12649124,13640302,2017-01-01 00:33:55.750,1612,105406673,tractor,AUSTE,39.63185,-77.78432,2017-01-01 00:33:55.000,0,0.0,489217.3,2,1,10375490,1,42.0,96.60,12649124
26,12649125,13640303,2017-01-01 00:19:10.370,1585,105301976,tractor,MCAD,35.15430,-90.14263,2017-01-01 00:19:10.000,0,0.0,513931.8,1,2,10375491,1,43.2,108.00,12649125
27,12649126,13640304,2017-01-01 00:34:20.370,1585,105301976,tractor,MCAD,35.15429,-90.14262,2017-01-01 00:34:20.000,0,0.0,513931.8,1,2,10375492,1,43.2,108.00,12649126
28,12649127,13640305,2017-01-01 00:35:45.830,1672,105310232,tractor,JAML,35.27719,-81.15051,2017-01-01 00:35:48.000,10,130.9,354397.8,1,2,10375493,1,35.9,84.36,12649127
29,12649128,13640306,2017-01-01 00:36:13.393,1584,105430597,tractor,MANRI,29.67678,-98.15673,2017-01-01 00:36:14.000,0,312.5,500747.1,2,1,10375494,1,29.0,72.50,12649128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,12649197,13640366,2017-01-01 01:08:47.903,1589,105338555,tractor,TAYJON,40.67186,-80.09698,2017-01-01 01:08:50.000,0,178.5,488762.4,1,2,10375535,1,43.2,108.00,12649197
71,12649198,13640368,2017-01-01 01:09:33.390,1584,105430597,tractor,MANRI,29.67886,-98.15705,2017-01-01 01:09:34.000,16,124.9,500747.5,1,0,10375536,1,94.2,235.50,12649198
72,12649199,13640369,2017-01-01 01:11:49.087,1693,105356123,tractor,THOCHA,36.18584,-86.26807,2017-01-01 01:11:50.000,0,333.2,340043.7,1,2,10375537,1,34.4,68.80,12649199
73,12649200,13640370,2017-01-01 01:12:08.343,1711,105321298,tractor,FOSJA,31.13702,-81.57398,2017-01-01 01:12:10.000,6,46.1,342993.9,1,2,10375538,1,73.0,146.00,12649200
74,12649201,13640371,2017-01-01 01:12:26.183,1787,105455670,tractor,RODMAR,34.28633,-80.99744,2017-01-01 01:12:27.000,67,181.7,224371.1,1,2,10375539,1,59.1,118.20,12649201
75,12649202,13640373,2017-01-01 01:13:49.087,1693,105356123,tractor,THOCHA,36.18581,-86.26806,2017-01-01 01:13:50.000,0,333.2,340043.7,2,1,10375540,1,34.3,68.60,12649202
76,12649203,13640374,2017-01-01 01:15:39.087,1693,105356123,tractor,THOCHA,36.18581,-86.26804,2017-01-01 01:15:40.000,0,333.2,340043.7,2,0,10375541,1,34.3,68.60,12649203
77,12649204,13640377,2017-01-01 01:16:35.007,1712,105437938,tractor,TAYANT,36.93953,-84.09535,2017-01-01 01:16:37.000,0,0.0,360378.8,1,2,10375542,1,78.0,156.00,12649204
78,12649205,13640378,2017-01-01 01:17:42.810,1992,105369677,tractor,BATK,30.62091,-81.52817,2017-01-01 01:17:41.000,48,107.0,39930.8,1,2,10375543,1,42.8,85.60,12649205
79,12649206,13640379,2017-01-01 00:31:22.537,1639,105407611,tractor,ANDR,34.53903,-86.91042,2017-01-01 00:31:24.000,0,0.0,454447.2,1,0,10375544,1,66.4,152.72,12649206
80,12649207,13640380,2017-01-01 00:46:22.617,1639,105407611,tractor,ANDR,34.53903,-86.91042,2017-01-01 00:46:24.000,0,0.0,454447.2,1,2,10375545,1,66.4,152.72,12649207
81,12649208,13640381,2017-01-01 01:01:22.663,1639,105407611,tractor,ANDR,34.53903,-86.91042,2017-01-01 01:01:24.000,0,0.0,454447.2,1,2,10375546,1,66.4,152.72,12649208
82,12649209,13640382,2017-01-01 01:16:32.663,1639,105407611,tractor,ANDR,34.53903,-86.91042,2017-01-01 01:16:34.000,0,0.0,454447.2,1,2,10375547,1,66.4,152.72,12649209
83,12649210,13640383,2017-01-01 01:18:02.663,1639,105407611,tractor,ANDR,34.53903,-86.91042,2017-01-01 01:18:04.000,0,0.0,454447.2,2,1,10375548,1,66.4,152.72,12649210
84,12649211,13640385,2017-01-01 01:19:18.357,1711,105321298,tractor,FOSJA,31.14070,-81.57845,2017-01-01 01:19:20.000,0,359.1,342995.3,2,1,10375549,1,74.5,149.00,12649211
85,12649212,13640386,2017-01-01 01:20:51.267,1698,105435636,tractor,DELK,37.03240,-86.33176,2017-01-01 01:20:51.000,0,0.0,329709.7,1,0,10375550,1,68.0,136.00,12649212
86,12649213,13640388,2017-01-01 01:21:47.707,1918,105381868,tractor,DYET,36.06671,-86.43411,2017-01-01 01:21:46.000,0,0.0,90818.7,1,2,10375551,1,51.2,102.40,12649213
87,12649214,13640389,2017-01-01 01:22:35.953,1672,105310232,tractor,JAML,35.26416,-81.08088,2017-01-01 01:22:38.000,0,305.3,354402.5,1,2,10375552,1,29.2,68.62,12649214
88,12649215,13640390,2017-01-01 01:23:17.903,1589,105338555,tractor,TAYJON,40.67186,-80.09698,2017-01-01 01:23:20.000,0,178.5,488762.4,2,1,10375553,1,43.2,108.00,12649215
89,12649216,13640393,2017-01-01 01:24:33.390,1584,105430597,tractor,MANRI,29.81071,-98.00426,2017-01-01 01:24:34.000,65,43.8,500761.4,1,2,10375554,1,90.2,225.50,12649216
90,12649217,13640394,2017-01-01 01:24:45.490,1713,105438293,tractor,RUSR,34.65554,-84.98087,2017-01-01 01:24:47.000,0,331.0,377665.4,1,2,10375555,1,22.1,44.20,12649217
91,12649218,13640396,2017-01-01 01:26:05.430,1713,105438293,tractor,RUSR,34.65553,-84.98085,2017-01-01 01:25:57.000,0,331.0,377665.4,2,1,10375556,1,22.7,45.40,12649218
92,12649219,13640397,2017-01-01 01:29:26.017,1672,105310232,tractor,JAML,35.26416,-81.08089,2017-01-01 01:29:28.000,0,305.3,354402.5,2,1,10375557,1,29.2,68.62,12649219
93,12649220,13640398,2017-01-01 01:30:02.827,1992,105369677,tractor,BATK,30.67889,-81.45789,2017-01-01 01:30:01.000,0,0.0,39938.3,2,1,10375558,1,42.2,84.40,12649220
94,12649221,13640402,2017-01-01 01:31:45.007,1712,105437938,tractor,TAYANT,36.93954,-84.09534,2017-01-01 01:31:47.000,0,0.0,360378.8,1,2,10375559,1,78.0,156.00,12649221
95,12649226,13640407,2017-01-01 01:26:38.617,1644,105435663,tractor,LOTG,36.19477,-83.17494,2017-01-01 01:26:41.000,0,0.0,379493.8,1,0,10375564,1,65.6,150.88,12649226
96,12649227,13640408,2017-01-01 01:30:08.613,1644,105435663,tractor,LOTG,36.19477,-83.17494,2017-01-01 01:30:11.000,0,0.0,379493.8,2,1,10375565,1,65.3,150.19,12649227
97,12649228,13640409,2017-01-01 01:31:58.613,1644,105435663,tractor,LOTG,36.19477,-83.17494,2017-01-01 01:32:01.000,0,0.0,379493.8,2,0,10375566,1,65.3,150.19,12649228
98,12649229,13640412,2017-01-01 01:33:33.377,1913,105301377,tractor,MORJAR,36.06740,-86.43511,2017-01-01 01:33:32.000,0,0.0,88516.1,1,2,10375567,1,75.8,151.60,12649229
99,12649230,13640413,2017-01-01 01:34:02.840,1992,105369677,tractor,BATK,30.67917,-81.45939,2017-01-01 01:34:01.000,0,0.0,39938.4,2,1,10375568,1,45.1,90.20,12649230

In [46]:
test = pd.DataFrame(Fuel_Transactions.TankId.unique())

In [39]:
test.head(100)

   0
0  1
1  2